<%= simple_form_for  [:backend, resource] do |f| %>
  <div>
    <div class="span6">
      <%= f.input :numero, :label =>"Numero" %>
      <%= f.association :organization, input_html: { class: 'select2' }, label: "Tipo de iniciador" %>
      <%= f.simple_fields_for :initiator do |initiator| %>
        <%= initiator.input :name, :label => "Iniciador"%>
      <% end %>
      <%= f.association :tags, input_html: { multiple: true, class: 'chzn-select',
          "data-pre"  => f.object.tags.to_json(methods: :name), only: [:id, :name] } %>
    </div>
    <div class="span6">
      <%= f.simple_fields_for :pases do |pases_form| %>
        <%= pases_form.association :area, input_html: { class: 'select2' } %>
        <%= pases_form.association :session, input_html: { class: 'select2' } %>
        <%= pases_form.input :ingreso, :as: :datepicker %>
        <%= pases_form.input :fojas %>
        <%= pases_form.input :descripcion, input_html: { rows: 6 } %>
      <% end %>
    </div>
  </div>
  <div>
    <%= f.button :submit, 'Crear Nota', :class => 'btn-primary' %>
  </div>
<% end %>
